/* 
    Handcoded by JAC - Johnny Alimoot C.
*/
:root{
    --slideImage1 : url('../art/bambini.webp');
    --slideImage2 : url('../art/simona_rassicurante.webp');
    --slideImage3 :url('../art/cavalli.webp');

    --slideImage1ver : url('../art/bambini_vertical.webp');
    --slideImage2ver : url('../art/cavallo_bianco.webp');
    --slideImage3ver :url('../art/simona_mare.webp');
}

@-webkit-keyframes hero-slideshow {
    0%{ background-size: 110%; }
    0%, 15% {
        background-image: var(--slideImage1)
    }
    18%, 48% {
        background-image: var(--slideImage2)
    }
    50%{ background-size: 160%; }
    51%, 82% {
        background-image: var(--slideImage3)
    }
    85%, 100% {
        background-image: var(--slideImage1)
    }
    100%{ background-size: 110%; }
}

@-moz-keyframes hero-slideshow {
    0%{ -moz-background-size: 110%; background-size: 110%; }
    0%, 15% {
        background-image: var(--slideImage1)
    }
    18%, 48% {
        background-image: var(--slideImage2)
    }
    50%{ -moz-background-size: 160%; background-size: 160%; }
    51%, 82% {
        background-image: var(--slideImage3)
    }
    85%, 100% {
        background-image: var(--slideImage1)
    }
    100%{ -moz-background-size: 110%; background-size: 110%; }
}

@-o-keyframes hero-slideshow {
    0%{ -o-background-size: 110%; background-size: 110%; }
    0%, 15% {
        background-image: var(--slideImage1)
    }
    18%, 48% {
        background-image: var(--slideImage2)
    }
    50%{ -o-background-size: 160%; background-size: 160%; }
    51%, 82% {
        background-image: var(--slideImage3)
    }
    85%, 100% {
        background-image: var(--slideImage1)
    }
    100%{ -o-background-size: 110%; background-size: 110%; }
}

@keyframes hero-slideshow {
    0%{ -moz-background-size: 110%; -o-background-size: 110%; background-size: 110%; }
    0%, 15% {
        background-image: var(--slideImage1)
    }
    18%, 48% {
        background-image: var(--slideImage2)
    }
    50%{ -moz-background-size: 160%; -o-background-size: 160%; background-size: 160%; }
    51%, 82% {
        background-image: var(--slideImage3)
    }
    85%, 100% {
        background-image: var(--slideImage1)
    }
    100%{ -moz-background-size: 110%; -o-background-size: 110%; background-size: 110%; }
}

@-webkit-keyframes fade {
    0%{ opacity: 1; }
    50%{ opacity: 1; }
    100%{ opacity: 0; }
}

@-moz-keyframes fade {
    0%{ opacity: 1; }
    50%{ opacity: 1; }
    100%{ opacity: 0; }
}

@-o-keyframes fade {
    0%{ opacity: 1; }
    50%{ opacity: 1; }
    100%{ opacity: 0; }
}

@keyframes fade {
    0%{ opacity: 1; }
    50%{ opacity: 1; }
    100%{ opacity: 0; }
}



@media only screen and (max-width: 992px) {
    @-webkit-keyframes hero-slideshow {
        0%{ background-size: 120%; }
        0%, 15% {
            background-image: var(--slideImage1ver)
        }
        18%, 48% {
            background-image: var(--slideImage2ver)
        }
        50%{ background-size: 160%; }
        51%, 82% {
            background-image: var(--slideImage3ver)
        }
        85%, 100% {
            background-image: var(--slideImage1ver)
        }
        100%{ background-size: 120%; }
    }
    @-moz-keyframes hero-slideshow {
        0%{ -moz-background-size: 120%; background-size: 120%; }
        0%, 15% {
            background-image: var(--slideImage1ver)
        }
        18%, 48% {
            background-image: var(--slideImage2ver)
        }
        50%{ -moz-background-size: 160%; background-size: 160%; }
        51%, 82% {
            background-image: var(--slideImage3ver)
        }
        85%, 100% {
            background-image: var(--slideImage1ver)
        }
        100%{ -moz-background-size: 120%; background-size: 120%; }
    }
    @-o-keyframes hero-slideshow {
        0%{ -o-background-size: 120%; background-size: 120%; }
        0%, 15% {
            background-image: var(--slideImage1ver)
        }
        18%, 48% {
            background-image: var(--slideImage2ver)
        }
        50%{ -o-background-size: 160%; background-size: 160%; }
        51%, 82% {
            background-image: var(--slideImage3ver)
        }
        85%, 100% {
            background-image: var(--slideImage1ver)
        }
        100%{ -o-background-size: 120%; background-size: 120%; }
    }
    @keyframes hero-slideshow {
        0%{ -moz-background-size: 120%; -o-background-size: 120%; background-size: 120%; }
        0%, 15% {
            background-image: var(--slideImage1ver)
        }
        18%, 48% {
            background-image: var(--slideImage2ver)
        }
        50%{ -moz-background-size: 160%; -o-background-size: 160%; background-size: 160%; }
        51%, 82% {
            background-image: var(--slideImage3ver)
        }
        85%, 100% {
            background-image: var(--slideImage1ver)
        }
        100%{ -moz-background-size: 120%; -o-background-size: 120%; background-size: 120%; }
    }
}
